<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/fastclick.min.js"></script>
    <script src="/js/almacen.js"></script>
    <script src="/js/angular-1.3.8/angular-animate.js"></script>
    <script src="/js/angular-1.3.8/angular-animate.min.js"></script>
    <script src="/js/angular-1.3.8/angular-aria.js"></script>
    <script src="/js/angular-1.3.8/angular-aria.min.js"></script>
    <script src="/js/angular-1.3.8/angular-confirm.js"></script>
    <script src="/js/angular-1.3.8/angular-cookies.js"></script>
    <script src="/js/angular-1.3.8/angular-cookies.min.js"></script>
    <script src="/js/angular-1.3.8/angular-input-match.js"></script>
    <script src="/js/angular-1.3.8/angular-loader.js"></script>
    <script src="/js/angular-1.3.8/angular-loader.min.js"></script>
    <script src="/js/angular-1.3.8/angular-messages.js"></script>
    <script src="/js/angular-1.3.8/angular-messages.min.js"></script>
    <script src="/js/angular-1.3.8/angular-mocks.js"></script>
    <script src="/js/angular-1.3.8/angular-resource.js"></script>
    <script src="/js/angular-1.3.8/angular-resource.min.js"></script>
    <script src="/js/angular-1.3.8/angular-route.js"></script>
    <script src="/js/angular-1.3.8/angular-route.min.js"></script>
    <script src="/js/angular-1.3.8/angular-sanitize.js"></script>
    <script src="/js/angular-1.3.8/angular-sanitize.min.js"></script>
    <script src="/js/angular-1.3.8/angular-scenario.js"></script>
    <script src="/js/angular-1.3.8/angular-touch.js"></script>
    <script src="/js/angular-1.3.8/angular-touch.min.js"></script>
    <script src="/js/angular-1.3.8/angular.js"></script>
    <script src="/js/angular-1.3.8/angular.min.js"></script>
    <script src="/js/biocalpert.js"></script>
    <script src="/js/cliente.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/entrada.js"></script>
    <script src="/js/jquery/dataTables.bootstrap.js"></script>
    <script src="/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/js/jquery/jquery.dataTables.js"></script>
    <script src="/js/jquery/jquery.easing.min.js"></script>
    <script src="/js/jquery/jquery.slimscroll.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/prestamo.js"></script>
    <script src="/js/producto.js"></script>
    <script src="/js/proveedor.js"></script>
    <script src="/js/registro.js"></script>
    <script src="/js/salida.js"></script>
    <script src="/js/servicio.js"></script>
    <script src="/js/webUtil.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
