<div ng-controller="AlmacenController">

  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <h3 class="box-title">BUSQUEDA DENTRO DEL ALMACEN</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" id="formSalida" name="formSalida" ng-submit="agregarEntrada()" novalidate>
      <div class="box-body">
        <div class="alert alert-danger" role="alert" ng-show="mensajeError" ng-cloak>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeError}}
        </div>
        <div class="alert alert-success" role="alert" ng-show="mensajeExito" ng-cloak>
          <span class="fa fa-check" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeExito}}
        </div>
        <div style="margin-left: 10px;">
          <big><b>1. Busca un producto en el Almacen </b></big><br/>
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <input type="text" class="form-control"
                     placeholder="Ingresa el numero de serie o nombre del producto"
                     ng-model="criteria" />
            </div>
            <div class="col-xs-1 col-md-1" style="position: relative;top: 5px;margin: 0px;padding: 0px">
              <b>Entre Fechas</b>
            </div>
            <div class="col-xs-1 col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
                <input type="text" class="form-control pull-right" id="finicial" ng-model="fechas"/>
              </div><!-- /.input group -->
            </div>
            <div class="col-xs-2 col-md-2" >
              <button class="btn btn-primary" ng-disabled="formSalida.$invalid"
                      ng-click="busquedaAvanzada()" >
                <span class="fa fa-search"></span>&nbsp;Buscar
              </button>
            </div>
          </div>

          <br/>

        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">

      </div>
    </form>
  </div><!-- /.box -->

  <br/>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">PRODUCTOS EN ALMACEN</h3>
    </div>
    <div class="box-body">
      <div> Tienes <b>{{almacenesCount}}</b> productos en el almacen </div>
      <br/>
      <div class="box-body table-responsive no-padding" ng-show="almacenesCount > 0">
        <table id="tablaSalidas" class="table table-bordered table-hover" style="width:100%">
          <thead>
          <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Producto</th>
            <th>Serie/Cantidad</th>
            <th>No. Importación</th>
            <th>No. Albaran</th>
            <th ng-if="false">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="almacen in almacenes">
            <td>{{almacen.createdAt | date:'medium' }}</td>
            <td>{{almacen.usuario.nombre}}</td>
            <td>{{almacen.nombreProducto}}</td>
            <td>
              <span ng-show="almacen.serie" >{{almacen.serie}}</span>
              <span ng-show="almacen.cantidad">{{almacen.cantidad}} piezas</span>
            </td>
            <td>{{almacen.noImportacion}}</td>
            <td>{{almacen.numeroAlbaran}}</td>
            <td style="width: 100px" ng-if="false">
              <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                      data-target="#generaSalidaModal" ng-show="false"
                      ng-click="setProducto($index, almacen)"
                      title="Generar Salida">
                <span class="fa fa-arrow-circle-left"></span>
              </button>
              <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                      data-target="#borrarModal" ng-show="false"
                      ng-click="setProducto($index, almacen)"
                      title="Borrar de Almacen">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->


  <!-- Modales para Almacen -->
  <div class="modal fade" id="generaSalidaModal" tabindex="-1" role="dialog" aria-hidden="true"
    >
    <div class="modal-dialog" style="width: 700px;">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Generación de Salida de Almacen</h2>
        </div>
        <div  class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6 col-sm-3 titulo1">Fecha de Entrada</div>
              <div class="col-xs-6 col-sm-3">{{producto.createdAt | date:'medium'}}</div>
              <div class="col-xs-6 col-sm-3 titulo1">Producto</div>
              <div class="col-xs-6 col-sm-3">{{producto.nombreProducto}}</div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-4 col-sm-3 titulo1">Serie</div>
              <div class="col-xs-6 col-sm-3">{{producto.serie}}</div>
              <div class="col-xs-4 col-sm-3 titulo1">No. Importacion</div>
              <div class="col-xs-6 col-sm-3">{{producto.noImportacion}}</div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-4 col-sm-3 titulo1">No. Albaran</div>
              <div class="col-xs-6 col-sm-3">{{producto.numeroAlbaran}}</div>
              <div class="col-xs-4 col-sm-3 titulo1">Precio</div>
              <div class="col-xs-6 col-sm-3">
                <input type="text" class="form-control" ng-model="precio" valid-number-float>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 titulo1">Cliente</div>
              <div class="col-xs-6 col-sm-3">
                <select class="form-control" ng-model="cliente"
                        ng-options="cliente.nombre for cliente in clientes"></select>
              </div>
            </div>
          </div>
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Generar Salida"
                 ng-click="generarSalida();"  ng-disabled="!precio" />
          <input class="btn btn-black" type="button" value="Cancelar" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal Borrar Almacen -->
  <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Confirmación para borrar de Almacén</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea eliminar de Almacen?. También se borraŕa este producto de tus
          entradas.
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarDeAlmacen();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>
