<div ng-controller="ClienteController">

  <div>
    <span >
      <i>Tienes <b>{{countClientes}}</b> Clientes registrados en el sistema.</i>
    </span>
    <button class="btn btn-primary" style="float: right" data-toggle="modal"
            data-target="#clienteModal" ng-click="setAsNuevoCliente(true, null)" >
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Cliente
    </button>
  </div>
  <br/>
  <div class="row" ng-if="countClientes > 0">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Clientes Registrados</h3>
          <div class="box-tools">
            <div class="input-group" ng-show="false">
              <input type="text" name="table_search"
                     class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            <tr ng-repeat="cliente in clientes">
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.telefono}}</td>
              <td>
                <span ng-if="cliente.status === 1" class="label label-success">ACTIVO</span>
                <span ng-if="cliente.status === 2" class="label label-danger">INACTIVO</span>
              </td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#clienteModal" ng-click="setAsNuevoCliente(false, $index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#borrarModal" ng-click="setAsNuevoCliente(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>


  <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="form" role="form"
              ng-submit="accionCliente()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> {{titulo}} </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre del Cliente*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nombre"
                         ng-model="cliente.nombre" placeholder="Escribe el nombre del cliente"
                         ng-required="true">
                    <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="form.nombre.$error.required">El nombre del Cliente es requerido.</span>
                    </span>
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Direccion</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="direccion" name="direccion"
                         ng-model="cliente.direccion" ></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Correo Electrónico</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="email" name="email"
                         ng-model="cliente.correo" placeholder="Escribe el correo electrónico del cliente"
                         ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                  <span style="color:maroon" ng-show="form.email.$dirty && form.email.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.email.$error">
                      El formato del correo electrónico es incorrecto
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="telefono" name="telefono"
                         ng-model="cliente.telefono" placeholder="Escribe el telefono del cliente"
                         ng-pattern="/^[0-9]{2,3}-? ?[0-9]{6,7}$/" only-digits />
                  <span style="color:maroon" ng-show="form.telefono.$dirty && form.telefono.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.telefono.$error">
                      El formato del telefono es incorrecto
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Estatus</label>
                <div class="col-sm-10">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" 
                    ng-class="(cliente.status === 1) ? 'active':''" > 
                      <input type="radio" name="inputEstatus" value="1"
                             ng-model="cliente.status"> ACTIVO
                    </label>
                    <label class="btn btn-default"
                    ng-class="(cliente.status === 2) ? 'active':''">
                      <input type="radio" name="inputEstatus" value="2"
                            ng-model="cliente.status"> INACTIVO
                    </label>
                    <label class="btn btn-default" ng-show="false"
                    ng-class="(cliente.status === 3) ? 'active':''">
                      <input type="radio" name="inputEstatus" value="3"
                          ng-model="cliente.status"> ELIMINADO
                    </label>
                  </div>
                </div>
              </div>


          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>label-success
          </button>
          <h2>Confirmación para borrar Cliente</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea eliminar el Cliente seleccionado?
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarCliente();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>
