<div ng-controller="EntradaController">
  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <h3 class="box-title">AGREGA UNA ENTRADA</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" id="formEntrada" name="formEntrada" ng-submit="agregarEntrada()" novalidate>
      <div class="box-body">
        <div class="alert alert-danger" role="alert" ng-show="mensajeError" ng-cloak>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeError}}
        </div>
        <div class="alert alert-success" role="alert" ng-show="mensajeExito" ng-cloak>
          <span class="fa fa-check" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeExito}}
        </div>
        <table width="90%" style="margin-left: 10px;">
          <tr>
            <th>PROVEEDOR *</th>
            <td style="width: 300px">
              <div class="form-group">
                <select class="form-control" ng-model="proveedor" ng-change="getProductosProveedor(  )"
                        ng-options="proveedor.nombre for proveedor in proveedores" ></select>
              </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <th align="right">PRODUCTO *</th>
            <td style="width: 300px">
              <div class="form-group">
                <select class="form-control" name="producto" ng-model="producto" ng-change="toAgregarProducto( )"
                        ng-options="producto.nombre for producto in productos" ></select>
              </div>
            </td>
          </tr>
          <tr>
            <th >NO. ALBARAN *</th>
            <td style="width: 300px">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="entrada.numeroAlbaran" ng-required="true">
              </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <th align="right">NO. IMPORTACION</th>
            <td style="width: 300px">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="entrada.noImportacion">
              </div>
            </td>
          </tr>
          <tr>
            <th >SERIE </th>
            <td style="width: 300px">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="entrada.serie"
                       ng-disabled="!producto.haveSerie">
              </div>
            </td>
            <td>&nbsp;&nbsp;</td>
            <th >CANTIDAD </th>
            <td style="width: 300px">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="entrada.cantidad"
                      ng-disabled="producto.haveSerie">
              </div>
            </td>
          </tr>
        </table>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary" ng-disabled="formEntrada.$invalid"  
        ng-click="setAsNuevoProducto(true, null)" >
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Entrada
        </button>
      </div>
    </form>
  </div><!-- /.box -->

  <br/>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">ENTRADAS EN SISTEMA</h3>
    </div>
    <div class="box-body">
      <div> Tienes <b>{{entradasCount}}</b> entradas registradas el dia de hoy en el sistema </div>
      <br/>
      <div class="box-body table-responsive no-padding" ng-if="entradasCount > 0">
        <table id="tablaEntradas" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
              <th>Producto</th>
              <th>Serie/Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entrada in entradas">
              <td>{{entrada.createdAt | date:'medium' }}</td>
              <td>{{entrada.usuario.nombre}}</td>
              <td>{{entrada.producto.nombre}}</td>
              <td>
                <span ng-show="entrada.serie" >{{entrada.serie}}</span>
                <span ng-show="entrada.cantidad">{{entrada.cantidad}} piezas</span>
              </td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        data-toggle="modal" data-target="#entradaModal" 
                        ng-click="setEntradaMod($index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        data-toggle="modal" ng-show="false"
                        data-target="#borrarModal" ng-click="setAsNuevoProducto(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        ng-click="generarPdf($index)">
                  <span class="glyphicon glyphicon-print"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->

  <div class="modal fade" id="entradaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" id="form" name="form" role="form"
              ng-submit="accionProducto()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> Editar Entrada </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
              <div class="form-group">
                <label class="col-sm-2 control-label">No. Albaran*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="noAlbaram" 
                         name="noAlbaram" ng-model="entradaTemp.numeroAlbaran" 
                         ng-required="true">
                    <span style="color:maroon" ng-show="form.noAlbaram.$dirty && form.noAlbaram.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="form.nombre.$error.required">El no. de Albaran es requerido.</span>
                    </span>
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">No. Importación</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="noImport" 
                         name="noImport" ng-model="entradaTemp.noImportacion" >
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Serie</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" ng-model="entradaTemp.serie"
                          ng-disabled="!entradaTemp.producto.haveSerie">
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Cantidad</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" ng-model="entradaTemp.cantidad"
                      ng-disabled="entradaTemp.producto.haveSerie">
                </div>
              </div>
            </td>

          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" 
                  value="Aceptar" ng-click="updateEntrada();"/>
            <input class="btn" type="button" data-dismiss="modal"  
            value="Cancelar" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      //$("#tablaEntradas").dataTable();
      $('#tablaEntradas').dataTable({
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false
      });
    });
  </script>










































































<!-- Modales para despues -->
  <div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" id="form" name="form" role="form"
              ng-submit="accionProducto()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> {{titulo}} </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre*</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" name="nombre"
                       ng-model="producto.nombre" placeholder="Escribe el nombre del producto"
                       ng-required="true">
                    <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="form.nombre.$error.required">El nombre del Cliente es requerido.</span>
                    </span>
              </div>
            </div>

            <div class="form-group" >
              <label class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                    <textarea class="form-control" id="descripcion" name="descripcion"
                              ng-model="producto.descripcion" ></textarea>
              </div>
            </div>

            <div class="form-group" >
              <label class="col-sm-2 control-label">Código</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="codigo" name="codigo"
                       ng-model="producto.codigo" placeholder="Escribe el código del producto" >
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Precio</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="precio" name="precio"
                       ng-model="producto.precio" placeholder="Escribe el precio del producto"
                       valid-number-float>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Prioridad</label>
              <div class="col-sm-10">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default ">
                    <input type="radio" name="inputPrioridad" value="10"
                           ng-model="producto.prioridad"> ALTA
                  </label>
                  <label class="btn btn-default active">
                    <input type="radio" name="inputPrioridad" value="5"
                           ng-model="producto.prioridad" checked> MEDIA
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="inputPrioridad" value="1"
                           ng-model="producto.prioridad" > BAJA
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
