<div ng-controller="PrestamoController">
  
<div>
    <span >
      <i>Tienes <b>{{countPrestamos}}</b> registros de equipos en prestamo.</i>
    </span>
    <button class="btn btn-primary" style="float: right" data-toggle="modal"
            data-target="#prestamoModal" ng-click="setAsNuevoPrestamoEquipo(true,null)">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;
      Registrar Nuevo Equipo en Prestamo
    </button>
  </div>
  <br/>
  <div class="row" ng-if="countPrestamos > 0">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Equipo</th>
              <th>Entrada</th>
              <th>Devolución</th>
              <th>Representante</th>
              <th>Condiciones del Equipo</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            <tr ng-repeat="prestamo in prestamos">
              <td>{{prestamo.equipo.nombre}}</td>
              <td>{{prestamo.createdAt | date:'dd/MM/yyyy'}}</td>
              <td>{{prestamo.fechaEstimadaDevolucion | date:'dd/MM/yyyy'}}</td>
              <td>{{prestamo.nombreRepresentante}}</td>
              <td>{{prestamo.condicionesEquipo}}</td>
              <td>
                <span ng-if="prestamo.estatus === 1" class="label label-danger">
                  EN PRESTAMO
                </span>
                <span ng-if="prestamo.estatus === 2" class="label label-success">
                  DEVUELTO
                </span>
              </td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        data-toggle="modal"
                        data-target="#prestamoModal" 
                        ng-click="setAsNuevoPrestamoEquipo(false, $index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-danger" style="font-size: 10px;" 
                        data-toggle="modal"
                        data-target="#borrarModal" 
                        ng-click="setAsNuevoPrestamoEquipo(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
  

  <div class="modal fade" id="prestamoModal" tabindex="-1" role="dialog" 
        aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="form" role="form" novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <div class="box-header">
              <h3 class="box-title">
                 Equipo en Prestamo
              </h3>
            </div><!-- /.box-header -->
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
            <div class="row">
              <div class="col-xs-12">
                <table style="width:100%;" cellspacing="40">
                  <tr>
                    <td>Fecha de Entrada: </td>  
                    <td>
                      <b>{{fechaEntrada | date:'short'}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Fecha Estimada de Devolución*
                    </td>  
                    <td>
                      <span ng-hide="isNew">
                        {{prestamoNuevo.fechaEstimadaSalidaTemp | date:'dd/MM/yyyy'}}
                      </span>
                      <div ng-click="openFI($event)" class="input-group" 
                           style="width: 180px" >
                        <input type="text" class="form-control" 
                               datepicker-popup="{{calendar.format}}"
                               ng-model="prestamoNuevo.fechaEstimadaDevolucion" 
                               is-open="calendar.openedFI"
                               datepicker-options="dateOptions" 
                               date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close" 
                               ng-disabled="true" />
                        <div class="input-group-addon"> <span class="fa fa-calendar"></span></div>
                      </div>
                    </td>
                  </tr>
                  <tr><td colspan="2">&nbsp;</td></tr>
                  <tr>
                    <td style="width:150px;" valign="top">Equipo a Reparar*</td>
                    <td>
                        <select class="form-control" ng-model="proveedor" 
                                ng-change="getProductosProveedor(  )"
                                ng-options="proveedor.nombre for proveedor in proveedores" >
                        </select>
                        <select class="form-control" name="producto" 
                            ng-model="prestamoNuevo.equipo" 
                            ng-change="toAgregarProducto( )"
                            ng-options="producto.nombre for producto in productos" >
                        </select>
                    </td>
                  </tr>
                  <tr><td colspan="2">&nbsp;</td></tr>
                  <tr>
                    <td style="width:150px;" valign="top">Nombre del Representante*</td>
                    <td>
                      <input type="text" class="form-control" id="nombre" name="nombre"
                        ng-model="prestamoNuevo.nombreRepresentante" ng-required="true"
                        placeholder="Escribe el nombre del tecnico" />
                        <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span ng-show="form.nombre.$error.required">El nombre del representante es requerido.</span>
                          </span>
                    </td>
                  </tr>
                  <tr><td colspan="2">&nbsp;</td></tr>
                  <tr>
                    <td valign="top">Condiciones del Equipo*</td>
                    <td>
                      <textarea class="form-control" id="diagnostigo" 
                                placeholder="Escribe las condiciones del equipo"
                                name="diagnostigo" ng-required="true"
                                ng-model="prestamoNuevo.condicionesEquipo">
                      </textarea>
                      <span style="color:maroon" ng-show="form.diagnostigo.$dirty && form.diagnostigo.$invalid">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span ng-show="form.diagnostigo.$error.required">Debe escribir las condiciones del equipo.</span>
                          </span>
                    </td>
                  </tr>
                  <tr ng-hide="isNew">
                    <td valign="top">Estatus</td>
                    <td>
                      <div class="col-sm-10">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default" 
                          ng-class="(prestamoNuevo.estatus === 1) ? 'active':''" > 
                            <input type="radio" name="inputEstatus" value="1"
                                   ng-model="prestamoNuevo.estatus"> EN SERVICIO
                          </label>
                          <label class="btn btn-default"
                          ng-class="(prestamoNuevo.estatus === 2) ? 'active':''">
                            <input type="radio" name="inputEstatus" value="2"
                                  ng-model="prestamoNuevo.estatus"> ENTREGADO
                          </label>
                        </div>
                    </td>
                  </tr>
                </table>
                  
              </div>
            </div>
            

          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="form.$invalid" 
                  type="submit" ng-click="registrarPrestamo()"
                  ng-disabled="form.$invalid">
                  <span ng-show="isNew">Reportar Equipo</span>
                  <span ng-hide="isNew">Actualizar Datos</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>label-success
          </button>
          <h2>Confirmación para eliminar registro</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea eliminar el registro seleccionado?
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarEquipoPrestamo();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
