<div ng-controller="ProductoController">
  <div style="font-size: 16px;"><b>PROVEEDOR: </b>
    <a class="cursor" data-toggle="modal" data-target="#proveedorModal">
      {{proveedor.nombre}}
    </a>
  </div><br/>
  <div>
    <span >
      <i>Tienes <b>{{countProductos}}</b> Productos registrados con el proveedor dentro del sistema.</i>
    </span>
    <button class="btn btn-primary" style="float: right" data-toggle="modal"
            data-target="#productoModal" ng-click="setAsNuevoProducto(true, null)" >
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Producto
    </button>
  </div>
  <br/>
  <div class="row" ng-if="countProductos > 0">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Productos Registrados en Sistema</h3>
          <div class="box-tools">
            <div class="input-group" ng-show="false">
              <input type="text" name="table_search"
                     class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Código</th>
              <th>Prioridad</th>
              <th>Acciones</th>
            </tr>
            <tr ng-repeat="producto in proveedor.productos">
              <td>{{producto.nombre}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.codigo}}</td>
              <td>
                <span ng-if="producto.prioridad === 10" class="label label-success">ALTA</span>
                <span ng-if="producto.prioridad === 5" class="label label-warning">MEDIA</span>
                <span ng-if="producto.prioridad === 1" class="label label-danger">BAJA</span>
              </td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#productoModal" ng-click="setAsNuevoProducto(false, $index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#borrarModal" ng-click="setAsNuevoProducto(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>


  <div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" id="form" name="form" role="form"
              ng-submit="accionProducto()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> {{titulo}} </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nombre"
                         ng-model="producto.nombre" placeholder="Escribe el nombre del producto"
                         ng-required="true">
                    <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="form.nombre.$error.required">El nombre del Cliente es requerido.</span>
                    </span>
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="descripcion" name="descripcion"
                              ng-model="producto.descripcion" ></textarea>
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Código</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="codigo" name="codigo"
                         ng-model="producto.codigo" placeholder="Escribe el código del producto" >
                </div>
              </div>
<!--
              <div class="form-group">
                <label class="col-sm-2 control-label">Precio</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="precio" name="precio"
                         ng-model="producto.precio" placeholder="Escribe el precio del producto"
                         valid-number-float>
                </div>
              </div>
-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Prioridad</label>
                <div class="col-sm-10">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default ">
                      <input type="radio" name="inputPrioridad" value="10"
                             ng-model="producto.prioridad"> ALTA
                    </label>
                    <label class="btn btn-default active">
                      <input type="radio" name="inputPrioridad" value="5"
                             ng-model="producto.prioridad" checked> MEDIA
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="inputPrioridad" value="1"
                             ng-model="producto.prioridad" > BAJA
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <label class="col-sm-2 control-label">Relevante Para Número de Serie
                </label>
                <div class="col-sm-10">
                  <input type="checkbox"  id="ns" name="ns"
                         ng-model="producto.haveSerie" >
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="proveedorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" id="formProveedor" name="form" role="form" novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> INFORMACIÓN DEL PROVEEDOR </b> </h4>
          </div>
          <div  class="modal-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <label class="control-label">{{proveedor.nombre}}</label>
              </div>
            </div>

            <div class="form-group" >
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <label class="control-label">{{proveedor.correo}}</label>
              </div>
            </div>

            <div class="form-group" >
              <label class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <label class="control-label">{{proveedor.telefono}}</label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" type="button" data-dismiss="modal"  value="Cerrar" />
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Confirmación para borrar Producto</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea eliminar el Producto seleccionado?
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarProducto();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>
