<div ng-controller="ProveedorController">

  <div>
    <span >
      <i>Tienes <b>{{countProveedores}}</b> proveedores registrados en el sistema.</i>
    </span>
    <button class="btn btn-primary" style="float: right" data-toggle="modal"
            data-target="#proveedorModal" ng-click="setAsNuevoProveedor(true, null)" >
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Proveedor
    </button>
  </div>
  <br/>
  <div class="row" ng-if="countProveedores > 0">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Proveedores Registrados</h3>
          <div class="box-tools">
            <div class="input-group" ng-show="false">
              <input type="text" name="table_search"
                     class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Productos</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            <tr ng-repeat="proveedor in proveedores">
              <td>{{proveedor.nombre}}</td>
              <td>{{proveedor.correo}}</td>
              <td>{{proveedor.telefono}}</td>
              <td><a href="#/productos/{{proveedor.id}}" class="cursor">Tienes <b>{{proveedor.productos.length}}</b> productos </a></td>
              <td>
                <span ng-if="proveedor.status === 1" class="label label-success">ACTIVO</span>
                <span ng-if="proveedor.status === 2" class="label label-danger">INACTIVO</span>
              </td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#proveedorModal" ng-click="setAsNuevoProveedor(false, $index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" data-toggle="modal"
                        data-target="#borrarModal" ng-click="setAsNuevoProveedor(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>


  <div class="modal fade" id="proveedorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="form" role="form"
              ng-submit="accionProveedor()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> {{titulo}} </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre Proveedor*</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nombre"
                         ng-model="proveedor.nombre" placeholder="Escribe el nombre del producto"
                         ng-required="true">
                    <span style="color:maroon" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="form.nombre.$error.required">El nombre del proveedor es requerido.</span>
                    </span>
                </div>
              </div>

              <div class="form-group" ng-show="false">
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="descripcion" name="descripcion"
                         ng-model="proveedor.descripcion" placeholder="Escribe la descripcion del proveedor" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Correo Electrónico</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="email" name="email"
                         ng-model="proveedor.correo" placeholder="Escribe el correo electrónico del proveedor"
                         ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                  <span style="color:maroon" ng-show="form.email.$dirty && form.email.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.email.$error">
                      El formato del correo electrónico es incorrecto
                    </span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="telefono" name="telefono"
                         ng-model="proveedor.telefono" placeholder="Escribe el telefono del proveedor"
                         ng-pattern="/^[0-9]{2,3}-? ?[0-9]{6,7}$/" only-digits />
                  <span style="color:maroon" ng-show="form.telefono.$dirty && form.telefono.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.telefono.$error">
                      El formato del telefono es incorrecto
                    </span>
                  </span>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3c8dbc;color:white">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2>Confirmación para borrar Proveedor</h2>
        </div>
        <div  class="modal-body">
          ¿Esta seguro que desea eliminar el Proveedor seleccionado?
        </div>
        <div  class="modal-footer">
          <input class="btn btn-primary" type="button" value="Si" ng-click="borrarProveedor();" />
          <input class="btn btn-black" type="button" value="No" data-dismiss="modal" />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



</div>
