<div ng-controller="SalidaController">

  <div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
      <h3 class="box-title">REGISTRA UNA SALIDA</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" id="formSalida" name="formSalida" ng-submit="agregarEntrada()" novalidate>
      <div class="box-body">
        <div class="alert alert-danger" role="alert" ng-show="mensajeError" ng-cloak>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeError}}
        </div>
        <div class="alert alert-success" role="alert" ng-show="mensajeExito" ng-cloak>
          <span class="fa fa-check" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{mensajeExito}}
        </div>
        <div style="margin-left: 10px;">
          <big><b>1. Busca un producto en el Almacen </b></big><br/>
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <input type="text" class="form-control" placeholder="Ingresa el {{placeholder}}"
                     ng-model="criteria" ng-change="buscarEnAlmacen()" />
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="inputBusqueda" value="serie" ng-click="cambiarTexto()" checked> Buscar por Serie
                </label>
                <label class="btn btn-default ">
                  <input type="radio" name="inputBusqueda" value="producto" ng-click="cambiarTexto()" > Buscar por Producto
                </label>
              </div>
            </div>
          </div><br/>
          <div ng-show="productosInAlmacen && productosInAlmacen.length > 0">
            <big><b>2. Selecciona un producto del Almacen </b></big><br/>
            <table id="tablaAlmacen" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Acciones</th>
                <th>Fecha de Entrada</th>
                <th>Producto</th>
                <th>Serie</th>
                <th>No. Importación</th>
                <th>No. Albaran</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="prodAlmacen in productosInAlmacen"
                  ng-class="{bgGreen:prodAlmacen.id === productoSelected.id}">
                <td>
                  <button class="btn btn-success" ng-click="setProductoInAlmacen($index)">
                    <span class="fa fa-thumbs-up">  </span> &nbsp;&nbsp; Seleccionar
                  </button>
                </td>
                <td>{{prodAlmacen.createdAt | date:'medium' }}</td>
                <td>{{prodAlmacen.nombreProducto}}</td>
                <td>{{prodAlmacen.serie}}</td>
                <td>{{prodAlmacen.noImportacion}}</td>
                <td>{{prodAlmacen.numeroAlbaran}}</td>
              </tr>
              </tbody>
            </table>
            <div ng-show="productoSelected">
              <big><b>3. Completa la información </b></big><br/>
              <div class="row">
                <div class="col-xs-6 col-sm-1 text-bold">Producto</div>
                <div class="col-xs-6 col-sm-2">{{productoSelected.nombreProducto}}</div>
                <div class="col-xs-6 col-sm-1 text-bold" 
                ng-if="productoSelected.serie">Serie</div>
                <div class="col-xs-6 col-sm-2" 
                ng-if="productoSelected.serie">{{productoSelected.serie}}</div>
                <div class="col-xs-6 col-sm-1 text-bold">No. Importacion</div>
                <div class="col-xs-6 col-sm-2">{{productoSelected.noImportacion}}</div>
                <div class="col-xs-6 col-sm-1 text-bold">No. Albaran</div>
                <div class="col-xs-6 col-sm-2">{{productoSelected.numeroAlbaran}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-1 text-bold" ng-if="productoSelected.cantidad">
                  Cantidad
                </div>
                <div class="col-xs-6 col-sm-2" ng-show="productoSelected.cantidad">
                  {{productoSelected.cantidad}} /
                  <input type="text" class="form-control" ng-model="salida.cantidad"
                         style="width:30px;" valid-number-float />
                </div>

                <div class="col-xs-6 col-sm-1 text-bold">Precio</div>
                <div class="col-xs-6 col-sm-2">
                  <input type="text" class="form-control" ng-model="salida.precio"
                         ng-required="true" valid-number-float />
                </div>
                <div class="col-xs-6 col-sm-1 text-bold">Cliente</div>
                <div class="col-xs-6 col-sm-4">
                  <select class="form-control" ng-model="cliente" ng-change="nuevoCliente(cliente)"
                          ng-options="cliente.nombre for cliente in clientes"></select>
                </div>
              </div>
            </div>
          </div>
          <div ng-show="productosInAlmacen.length <= 0">
            <i> No hay productos en Almacen con el criterio de búsqueda realizado: <b>{{criteria}}</b></i>
          </div>
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary" ng-disabled="formSalida.$invalid"
                ng-click="agregarSalida()" >
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Salida
        </button>
      </div>
    </form>
  </div><!-- /.box -->

  <br/>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">SALIDAS EN SISTEMA</h3>
    </div>
    <div class="box-body">
      <div> Tienes <b>{{salidasCount}}</b> salidas registradas el dia hoy en el sistema </div>
      <br/>
      <div class="box-body table-responsive no-padding" ng-show="salidasCount > 0">
        <table id="tablaSalidas" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
              <th>Producto</th>
              <th>Serie/cantidad</th>
              <th>No. Importación</th>
              <th>No. Albaran</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="salida in salidas">
              <td>{{salida.createdAt | date:'medium' }}</td>
              <td>{{salida.usuario.nombre}}</td>
              <td>{{salida.nombreProducto}}</td>
              <td>
                <span ng-show="salida.serie">{{salida.serie}}</span>
                <span ng-show="salida.cantidad">{{salida.cantidad}} piezas</span>
              </td>
              <td>{{salida.noImportacion}}</td>
              <td>{{salida.numeroAlbaran}}</td>
              <td>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        data-toggle="modal" ng-show="false"
                        data-target="#productoModal" 
                        ng-click="setAsNuevoProducto(false, $index)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        data-toggle="modal" ng-show="false"
                        data-target="#borrarModal" ng-click="setAsNuevoProducto(false, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-primary" style="font-size: 10px;" 
                        ng-click="generarSalidaPdf($index)">
                  <span class="glyphicon glyphicon-print"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->


  <!-- modal de nuevo cliente -->
  <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" id="formClient" name="formClient" role="form"
              ng-submit="accionCliente()"  novalidate>
          <div class="modal-header" style="background-color: #3c8dbc;color:white">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><b> Nuevo Cliente </b> </h4>
          </div>
          <div  class="modal-body">
            <span style="font-size: 13px;position: relative;top: -7px;"><i>Los campos marcados con * son obligatorios</i></span>
            <br/><br/>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre del Cliente*</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nombreCliente" name="nombre"
                       ng-model="clienteNuevo.nombre" placeholder="Escribe el nombre del cliente"
                       ng-required="true">
                    <span style="color:maroon" ng-show="formClient.nombre.$dirty && formClient.nombre.$invalid">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span ng-show="formClient.nombre.$error.required">El nombre del Cliente es requerido.</span>
                    </span>
              </div>
            </div>

            <div class="form-group" >
              <label class="col-sm-2 control-label">Direccion</label>
              <div class="col-sm-10">
                  <textarea class="form-control" id="direccion" name="direccion"
                            ng-model="clienteNuevo.direccion" ></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Correo Electrónico</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email"
                       ng-model="clienteNuevo.correo" placeholder="Escribe el correo electrónico del cliente"
                       ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                  <span style="color:maroon" ng-show="formClient.email.$dirty && formClient.email.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="form.email.$error">
                      El formato del correo electrónico es incorrecto
                    </span>
                  </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="telefono" name="telefono"
                       ng-model="clienteNuevo.telefono" placeholder="Escribe el telefono del cliente"
                       ng-pattern="/^[0-9]{2,3}-? ?[0-9]{6,7}$/" only-digits />
                  <span style="color:maroon" ng-show="formClient.telefono.$dirty && formClient.telefono.$invalid">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span ng-show="formClient.telefono.$error">
                      El formato del telefono es incorrecto
                    </span>
                  </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" ng-disabled="formClient.$invalid" type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Fin de modal de nuevo cliente -->


</div>
