<!DOCTYPE html>
<html ng-app="BiocalperModule">
  <head>
    <meta charset="UTF-8">
    <title>BIOCALPER | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="styles/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- daterange picker -->
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap time Picker -->
    <link href="plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>

    <!-- Theme style -->
    <link href="dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link href="styles/biocalpert.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue" ng-controller="BiocalperController">
    <div class="wrapper" ng-cloak>
      <header class="main-header">
        <span class="logo"><b>Biocalpert</b> ADMIN</span>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="fa fa-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">1</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes 1 notificación</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a>
                          <i class="fa fa-users text-aqua"></i> Te acabas de unir a Biocalpert
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">Ver todos</a></li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a class="dropdown-toggle cursor" data-toggle="dropdown">
                  <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">{{usuario.nombre}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                    <p>
                      {{usuario.nombre}} - Web Developer
                      <small>Miembro desde {{usuario.createdAt | date:'MMMM/dd'}}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a class="btn btn-default btn-flat" ng-click="logout()" >Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>{{usuario.nombre}}</p>

              <span><i class="fa fa-circle text-success"></i> Online</span>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" >
            <li class="header">ACCIONES</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Inicio</span></i>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-barcode"></i> <span>Productos</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu" ng-repeat="proveedor in proveedoresMenu">
                <li class="cursor" >
                  <a ng-if="proveedor.id !== -1" href="#/productos/{{proveedor.id}}">&nbsp;&nbsp;&nbsp;<i class="fa fa-building-o"></i>{{proveedor.nombre}}</a>
                  <a ng-if="proveedor.id === -1" >&nbsp;&nbsp;&nbsp;<i class="fa fa-building-o"></i>{{proveedor.nombre}}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#/proveedores">
                <i class="fa fa-building-o"></i> <span>Proveedores</span>
                <small class="label label-primary pull-right">{{countProveedores}}</small>
              </a>
            </li>
            <li>
              <a href="#/clientes">
                <i class="fa fa-suitcase"></i> <span>Clientes</span>
                <small class="label pull-right bg-red">{{countClientes}}</small>
              </a>
            </li>
            <li>
              <a href="#/almacen">
                <i class="fa fa-star"></i> <span>Almacen</span>
              </a>
            </li>
            <li>
              <a href="#/entradas">
                <i class="fa fa-arrow-circle-right"></i> <span>Entradas</span>
              </a>
            </li>
            <li>
              <a href="#/salidas">
                <i class="fa fa-arrow-circle-left"></i> <span>Salidas</span>
              </a>
            </li>
            <li>
              <a href="#/servicios">
                <i class="fa fa-wrench"></i> <span>Equipos en Servicio</span>
              </a>
            </li>
            <li>
              <a href="#/prestamos">
                <i class="fa fa-exchange"></i> <span>Equipos en Prestamo</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reportes</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o text-info"></i> Información y Ayuda</a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{modulo}}
            <small>  </small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <ng-view />
        </section><!-- /.content -->
        
        <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Soy un modal</h3>
          </div>
          <div class="modal-body">
              ¿Esta seguro de continuar?
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </script>

      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="http://almsaeedstudio.com">Biocalpert</a>.</strong>
        Todos los derechos reservados.
      </footer>
    </div><!-- ./wrapper -->

    <!-- Librerias -->
    <script src="js/angular-1.3.8/angular.min.js"></script>
    <script src="js/angular-1.3.8/angular-animate.js"></script>
    <script src="js/angular-1.3.8/angular-route.min.js"></script>
    <script src="js/angular-1.3.8/angular-input-match.js"></script>

    <!-- jQuery 2.1.3 -->
    <script src="plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script src="js/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="js/jquery/jquery.easing.min.js"></script>
    <script src="js/jquery/jquery.dataTables.js" type="text/javascript"></script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/ui-bootstrap.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='js/dependencies/fastclick.min.js'></script>

    <!-- date-range-picker -->
    <script src="plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- bootstrap color picker -->
    <script src="plugins/colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>
    <!-- bootstrap time picker -->
    <script src="plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- iCheck 1.0.1 -->
    <script src="plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    <!-- angular confirm -->
    <script src="js/angular-1.3.8/angular-confirm.js" type="text/javascript"></script>

    <!-- PDF -->
    <script src="plugins/PDF/jspdf.debug.js" type="text/javascript"></script>    
    <script src="plugins/PDF/jspdf.plugin.autotable.js" type="text/javascript"></script>    
    <script src="plugins/PDF/jspdf.textEx.js" type="text/javascript"></script>    
    <script src="plugins/PDF/lodash.min.js" type="text/javascript"></script>    

    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js" type="text/javascript"></script>


    <!-- Librerias de utileria -->
    <script src="js/webUtil.js"></script>
    <script src="js/constants.js"></script>

    <!-- Librerias de utileria -->
    <script src="js/prestamo.js"></script>
    <script src="js/servicio.js"></script>
    <script src="js/proveedor.js"></script>
    <script src="js/cliente.js"></script>
    <script src="js/producto.js"></script>
    <script src="js/entrada.js"></script>
    <script src="js/salida.js"></script>
    <script src="js/almacen.js"></script>
    <script src="js/dashboard.js"></script>


    <script src="js/biocalpert.js"></script>


  </body>
</html>
