<!DOCTYPE html>
<html ng-app="RegistroModule">
  <head>
    <meta charset="UTF-8">
    <title>Biocalper | Registration Page</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
          name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="register-page" ng-controller="RegistroController">
    <div class="register-box">
      <div class="register-logo">
        <span><b>Biocalper</b>ADMIN</span>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Registra un nuevo usuario</p>
        <div class="alert alert-danger hide" role="alert" ng-show="mensajeError">
          <span class="glyphicon glyphicon-exclamation-sign hide" aria-hidden="true"></span>
          <span class="sr-only hide">Error:</span>
          {{mensajeError}}
        </div>
        <form name="registerForm" ng-submit="registrar(registerForm.$valid)"  novalidate>
          <div class="form-group has-feedback">
            <input type="text" name="nombre" class="form-control" placeholder="Escribe tu nombre completo"
                   ng-model="usuario.nombre" ng-required="true"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span style="color:maroon" class="hide" ng-show="registerForm.nombre.$dirty && registerForm.nombre.$invalid">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span ng-show="registerForm.nombre.$error.required">Tu nombre es requerido.</span>
            </span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" name="email" class="form-control" placeholder="Escribe tu correo electrónico"
                   ng-model="usuario.username" ng-required="true"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span style="color:maroon;" class="hide" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span ng-show="registerForm.email.$error.required">Tu contraseña es requerida.</span>
              <span ng-show="registerForm.email.$invalid && !registerForm.email.$error.required">Tu correo electrónico es inválido.</span>
            </span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="Escribe tu contraseña"
                   ng-model="usuario.password" ng-required="true" ng-minlength="6"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span style="color:maroon" class="hide" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span ng-show="registerForm.password.$error.required">Tu contraseña es requerida.</span>
              <span ng-show="registerForm.password.$invalid && !registerForm.password.$error.required">Tu contraseña debe tener un mínimo de 6 caracteres.</span>
            </span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="confirmPwd" class="form-control" placeholder="Confirma tu contraseña"
                   ng-model="confirmaPassword" match="usuario.password" />
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            <div style="color:maroon" class="hide" ng-show="registerForm.confirmPwd.$error.match">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Las contraseñas no coinciden
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Acepto los <a href="#">terminos </a> de uso
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat"
                      ng-disabled="registerForm.$invalid">Registrar</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="login.html" class="text-center">Ya tengo una cuenta en Biocalper</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->

    <!-- Librerias -->
    <script src="js/angular-1.3.8/angular.min.js"></script>
    <script src="js/angular-1.3.8/angular-animate.js"></script>
    <script src="js/angular-1.3.8/angular-route.min.js"></script>
    <script src="js/angular-1.3.8/angular-input-match.js"></script>

    <!-- jQuery 2.1.3 -->
    <script src="plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script src="js/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="js/jquery/jquery.easing.min.js"></script>

    <!-- Librerias de utileria -->
    <script src="js/webUtil.js"></script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

    <script src="js/registro.js" type="text/javascript"></script>


  </body>
</html>
